.modal {
  position: relative;
}
/* Modal BackDrop Start */
.modal .backdrop {
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #00000057;
  z-index: 2;
  animation: fade-in 0.5s;
}
/* Modal Content Start */
.modal .modalContent {
  width: 478px;
  height: 610px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 12px;
  overflow: hidden;
  z-index: 4;
  animation: fade-in 0.5s;
}
/* Modal Header Start */
.modal .modalContent .modalHead {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  padding: 10px 25px;
  border-bottom: 2px solid #2b2b2b;
}
.modal .modalContent .modalHead img {
  cursor: pointer;
}
/* Modal Body Start */
.modal .modalContent .modalBody {
  padding: 10px 25px;
}
.modal .modalContent .modalBody form {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.modal .modalContent .modalBody form .formInput {
  width: 100%;
}
.modal .modalContent .modalBody form .formInput input {
  padding: 10px;
  width: 100%;
  height: 53px;
  border: 1px solid #a5a5a5;
  background-color: #e4e4e4;
  display: flex;
  justify-content: start;
  align-items: center;
  border-radius: 4px;
}
/* Modal Footer Start */
.modal .modalContent .modalFooter {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 20px;
  width: 100%;
  height: 70px;
  padding: 10px 25px;
  border-top: 2px solid #2b2b2b;
}
.modal .modalContent .modalFooter .addButton {
  padding: 5px 30px;
  border: none;
  border-radius: 3px;
  background: #1ab96d;
  color: white;
  font-size: 16px;
  height: 48px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal .modalContent .modalFooter .cancleButton {
  padding: 5px 40px;
  border: 2px solid #2b2b2b;
  border-radius: 3px;
  background: #fff;
  color: #2b2b2b;
  font-size: 16px;
  height: 48px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Fade In Animation Effect */
@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
